<a href='/post/{{id}}'>
  <div class="card mb-5 col-12">
    <h5 class="card-header col-6 border-bottom-0">{{title}}</h5>
    <div class="card-body border border-2">
      <p class="card-text ms-5">{{post}}</p>
    </div>
    <div class="card-footer ms-auto col-6 text-muted text-end  border-top-0 align-items-center">
      -- by {{user.username}} <br>
      {{format_date date_created}}
    </div>
  </div>
</a>