<a href='/post/{{id}}'>
  <div class="card mb-5">
    <h5 class="card-header">{{title}}</h5>
    <div class="card-body">
      <p class="card-text ms-5">{{post}}</p>
    </div>
    <div class="card-footer text-muted text-end">
      -- by {{user.first_name}} {{user.last_name}}
    </div>
  </div>
</a>