<div class="card mb-5" data-postId="{{postId}}">
  <h5 class="card-header col-6 border-bottom-0">{{blogPosts.title}}</h5>
  <div class="card-body border border-2">
    <p class="card-text ms-5">{{blogPosts.post}}</p>
  </div>
  <div class="card-footer text-muted ms-auto col-6 d-flex border-top-0 justify-content-between align-items-center">
    <div class="commentButton">
  <button type="submit" id="submitComment" class="rounded p-2" data-userId="{{userId}}">Add a comment</button>
</div>
    <span class="text-end">-- by {{blogPosts.user.username}}<br>
    {{format_date blogPosts.date_created}}</span>
  </div>
</div>

<div class="d-flex justify-content-end flex-wrap">
  {{#each blogPosts.comments as |comment| }}
  {{> comments sessionUserName=../sessionUserName}}
  {{/each}}
</div>
<script src="/js/comment.js"></script>